<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73010787943-f92k5il3slu6l76m2h2vmau7cqj5mreq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73010787943-f92k5il3slu6l76m2h2vmau7cqj5mreq</string>
	<key>API_KEY</key>
	<string>AIzaSyDYw1piwYGHo43CR-b3oOfQMIOi1rTwo08</string>
	<key>GCM_SENDER_ID</key>
	<string>73010787943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>booksstore-2d661</string>
	<key>STORAGE_BUCKET</key>
	<string>booksstore-2d661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73010787943:ios:6499eb78befe18bdc246c2</string>
</dict>
</plist>